body {
    background-color: #f5f5dc; /* Light beige background */
    font-family: Arial, sans-serif;
  }
  
  .container1 {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    background-color:#f5f5dc; /* Beige container */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: #5b4423 3px solid;
  }
  
  h2 {
    color: #5b4423;
    text-align: center;
  }
  h3{
    color: #5b4423;
    
    text-align: center;
  }
  
  .form-group5 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc;
  }
  
  label {
    font-weight: bold;
    color: #5b4423;
  }
  
  .form-group5 input[type="date"], select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 95%;
  }
  .form-group5 input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 95%;
  }
  
  .btn-filter {
    margin-top: 10px;
    background-color: #f5f5dc;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-filter:hover {
    background-color: #e7d9a7;
  }
  
  .schedules {
    background-color: #c5b47c;
    border: 2px solid #5b4423;
  }
  .schedule-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #f5f5dc;
  }
  
  .schedule-table th, .schedule-table td {
    padding: 10px;
    border: 1px solid #5b4423;
    color: #5b4423;
    text-align: center;
  }
  
  .schedule-table th {
    background-color: #5b4423;
    border: 1px solid #c5b47c;
    color: white;
  }
  
  .no-data {
    text-align: center;
    color: #5b4423;
  }
  