  /* General Layout */ 
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    background-color: #fde8ba; /* Match the light yellow color */
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  .header h1{
    color: #fde8ba;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
  }
  
  .logo {
    height: 50px;
    width: 150px; /* Adjust as needed for your logo's dimensions */
    background-image: url('../Assets/shuttle_logo.png'); /* Add the path to your logo */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .footer {
    background-color: #FFF0CC; /* Light gray */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #000000;
    border-top: 1px solid #ddd;
  }
 
  
 .btn-h button {
    width: 25%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    background-color: #52391d;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-h button:hover {
    background-color: #fde8ba;
    color: #000;
  }